body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('./images/wallpaperbetter.jpg') no-repeat center center/cover;
    color: white;
    padding: 50px 0;
}


.contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.contact input, .contact textarea {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

button {
    background: #222;
    color: white;
    padding: 10px;
    border: none;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product-item {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
.product-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}
.slideshow-container img:first-child {
    display: block;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.prev { left: 5px; }
.next { right: 5px; }